<div>
    <form>
        <p>
        <label for = "burger"> Burger</label>
        <input type ="text" name = "burger" id = "burger">
        </p>
        <p>
            <button id ="addBurger"> Add </button>
        </p>
    </form>
</div>